<div id="<%= dom_id blog %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= link_to blog.title, blog_path(blog),
    class: "text-orange-600 underline hover:text-orange-700" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= blog.name %>
    <%= link_to blog.name, blog_path(blog),
    class: "text-orange-600 underline hover:text-orange-700" %>
  </p>
  <hr />
  <%= blog.body %>
  <hr />
  <% if action_name != "show" %>
    <%= link_to "Show this blog", blog, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this blog", edit_blog_path(blog), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
