<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <br />
    <h3 class="block 1font-medium mb-1 text-3xl">
      <%= @blog.title %></h3>
    <h5 class="block 1font-medium mb-1 text-2xl">
      <%= @blog.name %></h5>
    <div id="navbar" class="1collapse">
      <ul class="nav navbar-nav">
        <li class="">
          <p style="width:400px; heigh:200px">
            <%= @blog.body %>
          </p>
          <br />
        </li>
      </ul>
    </div>

    <%= link_to "Edit this blog", edit_blog_path(@blog), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this blog", blog_path(@blog), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to blogs", blogs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
