<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <br />
  <div class="flex justify-between tems-center">
    <h1 class="dark:text-slate-400 font-bold text-4xl">Novines</h1>
    <%= link_to 'New article', new_article_path,
    class: "rounded-lg py-3 px-4 bg-blue-600
    text-white block font-medium" %>
  </div>
  <h5>
    <a href="/articles/<%= @articles.first.id %>",
    class="nav-link"><%= @articles.first.title %></a>
  </h5>
  <% if @articles.first.image.attached? %>
    <%= link_to image_tag(@articles.first.image,
    style:"width:560px; heigh:auto; nav-link; nav-right;"),
    @articles.first.image %>
  <% end %>
  <hr />
  <%= form_with(url: articles_path, method: :get,
  data: {controller: "search-form",
  turbo_frame: "articles", turbo_action: "advance"}) do |form| %>
    <%= form.label :query, "Search by article title:",
    class: "block mb-2" %>
    <div class="flex space-x-3">
      <%= form.text_field :query, class: "py-2 px-4
      rounded border ring-0 focus:ring-4
      focus:ring-orange-100 focus:shadow-none
      dark:text-slate-800 focus:border-orange-500 focus:outline-none",
      data: {action: "input->search-form#search"} %>

      <%= form.submit 'Search', class: "px-4 py-2 font-medium
      bg-orange-400 text-neutal-900 rounded flex items-center
      cursor-pointer hover:bg-orange-600 focus:ring-4 ring-0
      text-gray-900 hover:text-gray-100 focus:ring-orange-100" %>
    </div>
  <% end %>
  <hr />
  <div id="articles" class="min-w-full">
    <% @articles.each do |article| %>
    <div class="row  mt-4 clearfix">
      <div class="col-8 col-sm-8 col-md-9 col-lg-9">
        <h5 class="mt-0 mb-1">
          <a href="/articles/<%= article.id %>",
          class="nav-link"><%= article.title %></a>
        </h5>
        <strong class="block font-medium mb-1">Tags:
        <% article.tags.each do |tag| %>
          <%= link_to tag, style:"text-decoretion:none" do %>
            <spat class="tag"><%= tag.name.capitalize %></spat>
          <% end %>
        <% end %>
        </strong>
        <time class="block dateline
        dark:text-slate-400 1text-muted" role="" itemprop="datePublished" datetime="28.03.2023 09:13" data-timestamp="1679987580">
          <small><%= article.publish %></small>
        </time>
        <%= truncate(strip_tags(article.body.to_s), length:180) %>
      </div>
      <div class="col-4 col-sm-4 col-md-3 col-lg-3 clearfix">
        <% if article.image.attached? %>
          <%= link_to image_tag(article.image,
          style:"width:200px; heigh:auto"), article.image %>
        <% end %>
      </div>
      <%= link_to "Edit this article", edit_article_path(article) %>
    </div>
    <% end %>
  </div>
  <hr />
  <div class="flex justify-between items-center">
    <%= link_to 'New article', new_article_path,
    class: "rounded-lg py-3 px-4 bg-blue-600
    text-white block font-medium" %>
  </div>
  <br/>
</div>
