<h2>Forgot your password?</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="1flex space-x-12">
  <%= render "devise/shared/error_messages", resource: resource %>
  <br />
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="text-2xl text-yellow-500 actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
  <%= render "devise/shared/links" %>
</div>
