<div id="<%= dom_id tag %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tag.name %>
  </p>
  <% tags = article.taggables.
  collect{|taggable| taggable.tag} %>

    <% tag.taggables.each do |taggable| %>
      <h2>Article</h2>
      <%= render 'articles/article', article: taggable.article %>
      <%= link_to "Read More", taggable.article %>
      <hr />
    <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this tag", tag, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this tag", edit_tag_path(tag), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
