<div class="row mt-4 clearfix">
<% if user_signed_in? %>
  <%= link_to "Edit this tag", edit_tag_path(@tag),
  class: "bg-green-700 mt-1 rounded-lg py-2 px-3
  text-white 1bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-1">
    <%= button_to "Destroy this tag", tag_path(@tag), method: :delete,
    class: "bg-red-600 mt-1 rounded-lg py-2 px-3
    1bg-gray-100 font-medium" %>
  </div>
<% end %>
<%= link_to "Back to tags", tags_path,
class: "bg-gray-500 ml-1 rounded-lg py-2 px-3
 text-white 1bg-gray-100 inline-block font-medium" %>
<div class="inline-block ml-1">
  <%= link_to "New tag", new_tag_path,
  class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
  1block inline-block font-medium text-white" %>
</div>
<% if user_signed_in? %>
  <%= link_to 'Edit this tag', edit_tag_path(@tag),
  class: "mt-2 rounded-lg py-3 px-4 bg-gray-100
  text-white inline-block font-medium" %>
  <div class="inline-block ml-1">
    <%= button_to "Destroy this art", tag_path(@tag), method: :delete,
    class: "bg-red-600 mt-1 rounded-lg py-2 px-3
    1bg-gray-100 font-medium" %>
  </div>
<% end %>
  <%= link_to "Back to tags", tags_path,
  class: "ml-2 rounded-lg py-3 px-4
  1bg-gray-100 text-white inline-block font-medium" %>
  <div class="inline-block ml-2">
    <br/>
    <%= link_to 'New tag', new_tag_path,
    class: "rounded-lg py-3 px-4 bg-blue-600
    text-white block font-medium" %>
  </div>
<%= render 'tags/artic' %>
