<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <br />
  <div class="flex justify-between items-center">
    <h1 class="dark:text-slate-400 font-bold text-4xl">
      Arts</h1>
    <% if user_signed_in? %>
    <%= link_to 'New art', new_art_path,
    class: "rounded-lg py-3 px-4 bg-blue-600
    text-white block font-medium" %>
    <% end %>
  </div>
  <hr />
  <%= form_with(url: arts_path, method: :get,
  data: {turbo_frame: "arts", turbo_action: "advance"}) do |form| %>
    <%= form.label :query, "Search by art name:",
      class: "block mb-2" %>
    <div class="flex space-x-3">
        <%= form.text_field :query,
        class: "py-2 px-4 rounded border ring-0
        focus:ring-4 focus:ring-orange-100 focus:shadow-none
        dark:text-slate-800 focus:border-orange-500 focus:outline-none",
        data: {action: "input->search-form#search"} %>

        <%= form.submit 'Search', class: "px-4 py-2 font-medium
        bg-orange-400 text-neutal-900 rounded flex items-center
        cursor-pointer hover:bg-orange-600 focus:ring-4 ring-0
        text-gray-900 hover:text-gray-100 focus:ring-orange-100" %>
    </div>
  <% end %>
  <hr />
  <div id="arts" class="min-w-full">
    <table>
      <thead>
        <tr>
          <th class="dark:text-slate-400">Name</th>
          <th style="width:10px; heigh:auto"></th>
          <th class="dark:text-slate-400 margin:10px; padding-left:10px;
          padding-right:10px;">Lists</th>
          <th style="width:10px; heigh:auto"></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @arts.each do |art| %>
          <tr>
            <td>
              <h5>
                <strong class="block font-medium mb-1">
                  <a href="/arts/<%= art.id %>",
                  class="nav-link"><%= art.name %></a>
                </strong>
              </h5>
            </td>
            <td style="padding-top:10px; padding-right:0px;
            padding-bottom:20px; padding-left:0">
            <td class="vertical-menu">
              <ul class="1vertical-menu">
            <% art.lists.each do |list| %>
              <li class="vertical-menu">
                <a href="/lists/<%= list.id %>",
                class="nav-link">
                <%= truncate(strip_tags(list.title.to_s),
                length:180) %></a>
                <br />
              </li>
            <% end %>
              </ul>
              <hr />
            </td>
            <td style="width:7px; heigh:auto"></td>
            <% if user_signed_in? %>
            <td><%= link_to 'Edit', edit_art_path(art) %></td>
            <% end %>
            <td class="" style="width:10px; heigh:auto"></td>
            <td><%= link_to 'Show', art %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if user_signed_in? %>
  <div class="flex justify-between items-center">
    <%= link_to 'New art', new_art_path,
    class: "rounded-lg py-3 px-4 bg-blue-600
    text-white block font-medium" %>
  </div>
  <% end %>
  <br />
</div>
