<div class="row mt-4 clearfix">
  <% if user_signed_in? %>
    <%= link_to "Edit this art", edit_art_path(@art),
    class: "bg-green-700 mt-1 rounded-lg py-2 px-3
    text-white 1bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-1">
      <%= button_to "Destroy this art", art_path(@art), method: :delete,
      class: "bg-red-600 mt-1 rounded-lg py-2 px-3
      1bg-gray-100 font-medium" %>
    </div>
  <% end %>
  <%= link_to "Back to arts", arts_path,
  class: "bg-gray-500 ml-1 rounded-lg py-2 px-3
   text-white 1bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-1">
    <%= link_to "New art", new_art_path,
    class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
    1block inline-block font-medium text-white" %>
  </div>
<% if user_signed_in? %>
  <%= link_to "Edit this art", edit_art_path(@art),
  class: "bg-green-700 mt-1 rounded-lg py-2 px-3
  text-white 1bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-1">
    <%= button_to "Destroy this art", art_path(@art), method: :delete,
    class: "bg-red-600 mt-1 rounded-lg py-2 px-3
    1bg-gray-100 font-medium" %>
  </div>
<% end %>
  <%= link_to "Back to arts", arts_path,
  class: "bg-gray-500 ml-1 rounded-lg py-2 px-3
  text-white 1bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-1">
  <%= link_to "New art", new_art_path,
  class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
  1block inline-block font-medium text-white" %>
  </div>
</div>
<% if user_signed_in? != admin_signed_in? %>

h5><%= @list.name %></h5>
<div>
  <% if user_signed_in? %>
  <%= link_to "Edit this list", edit_list_path(@list) %> |
  <% end %>
  <%= link_to "Back to lists", lists_path %>
</div>
<% if user_signed_in? %>
<br />
<div class="flex justify-between items-center">
  <%= link_to 'New list', new_list_path,
  class: "rounded-lg py-3 px-5 bg-blue-600
  1text-white block font-medium" %>
</div>
<% end %>
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @art %>

    <%= link_to "Edit this art", edit_art_path(@art), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this art", art_path(@art), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to arts", arts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
