<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <br />
    <div class="1flex justify-between items-center">
      <% if user_signed_in? %>
        <%= link_to "Edit this post", edit_post_path(@post),
        class: "bg-green-700 mt-1 rounded-lg py-2 px-3
        text-white 1bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-1">
          <%= button_to "Destroy this post", post_path(@post), method: :delete,
          class: "bg-red-600 mt-1 rounded-lg py-2 px-3
          1bg-gray-100 font-medium" %>
        </div>
      <% end %>
      <%= link_to "Back to posts", posts_path,
      class: "bg-gray-500 ml-1 rounded-lg py-2 px-3
      text-white 1bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-1">
        <%= link_to "New post", new_post_path,
        class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
        1block inline-block font-medium text-white" %>
      </div>
    </div>
    <br /><br />
    <h3 class="block 1font-medium mb-1 text-3xl">
      <%= @post.title %></h3>
    <h5 class="block font-medium mb-1 text-1xl">
      Cat: <%= @post.cat.name %>
    </h5>
    <div id="navbar" class="1collapse">
      <ul class="nav navbar-nav">
        <li class="">
          <p style="width:400px; heigh:200px">
            <%= @post.body %>
          </p>
          <br />
        </li>
      </ul>
    </div>
    <div class="1flex justify-between items-center">
      <% if user_signed_in? %>
        <%= link_to "Edit this post", edit_post_path(@post),
        class: "bg-green-700 mt-1 rounded-lg py-2 px-3
        text-white 1bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-1">
          <%= button_to "Destroy this post", post_path(@post), method: :delete,
          class: "bg-red-600 mt-1 rounded-lg py-2 px-3
          1bg-gray-100 font-medium" %>
        </div>
      <% end %>
      <%= link_to "Back to posts", posts_path,
      class: "bg-gray-500 ml-1 rounded-lg py-2 px-3
      text-white 1bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-1">
        <%= link_to "New post", new_post_path,
        class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
        1block inline-block font-medium text-white" %>
      </div>
    </div>
    <br />
  </div>
</div>
