<!DOCTYPE html>
<html class="dark">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Cascading grid layout library">
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="google-site-verification" content="BEqJtoPo_I4c_6vkFIVVSbpf9fVSUwI2wZwkVnTKd8k">
    <meta name="alexaVerifyID" content="DaUAqrtPvA1Lu2A8fkUtlkjhrkY">
    <meta name="msvalidate.01" content="EEA0E4EF924434B853F2B4249F0D045A">
    <title><%= content_for(:title) || "My Bootstrap" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= render "layouts/dark_mode_check" %>
 </head>

 <body class="h-full font-sans antialiased
 dark:text-slate-300 font-normal leading-normal
 dark:bg-slate-900 dark:text-slate-500
 bg-gray-50 bg-neutral-100 dark:bg-neutral-900">
   <header class="1bg-white
   dark:bg-slate-800
   dark:text-slate-50 text-slate-500
   dark:text-slate-400 p-4 flex items-center justify-around">
     <h1 class="text-slate-900 dark:text-white
     font-bold text-4xl">Tamni mod</h1>

     <nav style="margin-left:15px; margin-right:5x;" class="space-x-1">
       <a class="text-orange-500 1nav-link active"
       aria-current="page" href="/home/index">Home</a>
       <%= link_to 'Arts', arts_path,
       class: "text-orange-500 1nav-link" %>
       <%= link_to 'Lists', lists_path,
       class: "text-orange-500 1nav-link" %>
       <%= link_to 'Cats', cats_path,
       class: "text-orange-500 1nav-link" %>
       <%= link_to 'Posts', posts_path,
       class: "text-orange-500 1nav-link" %>
       <% if user_signed_in? %>
         <%= link_to 'Tags', tags_path,
         class: "text-orange-500 1nav-link" %>
         <%= link_to 'Articles', articles_path,
         class: "text-orange-500 1nav-link" %>
       <% end %>
     </nav>

     <div style="margin-left:15px; margin-right:10px;" class="text-gray-400 flex space-x-1">
       <div style="margin-top:13px; margin-right:10px;" data-controller="dark-mode">
         <%= image_tag("icons/_VS12.svg",
         class: 'w-16 h-16 hover:cursor-pointer',
         data: { action: 'click->dark-mode#toggle'}) %>
       </div>
       <div style="margin-top:15px; margin-bottom:15px; margin-left:10px; margin-right:5x;" data-controller="dark-mode">
         <ul class="1nav-link 1dropdown-menu">
           <% if user_signed_in? %>
           <li class="1nav-link 1dropdown-item">
             <%= link_to "Hi, #{current_user.email}",
              edit_user_registration_path, class:'nav-link' %>
            </li>
            <li class="1nav-link 1dropdown-item">
             <%= button_to(
               "Log Out",
               destroy_user_session_path,
               method: :delete
             ) %>
           <% else %>
           <li>
             <%= link_to "Sign In",
              new_user_session_path, class:'nav-link' %>
           </li>
           <li>
             <%= link_to "Sign Up",
              new_user_registration_path, class:'nav-link' %>
           </li>
           <% end %>
       </ul>
       </div>
     </div>
   </header>
    <div class="1container
    mx-auto mt-8 px-3 flex">
      <%= yield %>
    </div>
  </body>
</html>
